@mixin active-nav {
  .nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nav-link {
    padding-right: 0;
    padding-left: 0;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      opacity: 0;
      transition: opacity 0.5s ease;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 6px;
      width: 100%;
      background: linear-gradient(143.65deg, #8F4ED7 0%, #4CC7F1 100%);
    }
  }

  .nav-item .active {
    &::after {
      opacity: 1;
    }
  }
}
