// Clickable
$purple-brite: #8f4ed7;
$blue: #00abe5;
$purple-baby: #ede4f4;
$purple-unicorn: #cf99fe;

// Purples
$ss-purp: #715392;
$eggplant: #5a4274;

// Compliance Ranges
$sweet-mint: #00bf90;
$lime: #c2d549;
$orange: #f5a623;
$guava: #ea465c;
$ned-grey: #c5c1c0;

// Change
$spinach: #007526;
$tomato: #d0021b;

$soap-purple: #8046c1;
$sanitizer-blue: #0099cd;

// Neutrals
$slate: #3c4552;
$slate-lite: #5e6978;
$grey: #dfe1e4;
$grey-lite: #ededed;
